/* :::::::::::::::::::::::::::::
          Base style
    ::::::::::::::::::::::::::::*/

* {
    box-sizing: border-box;
}
body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:#4a4a4a;
}
header, footer {
    width:100%;
    background-color:#fafafa;
    padding-bottom:1rem;
}
a { 
    text-decoration: none;
}
li {
    list-style: none;
}
.container,
nav ul{
    display: flex;
   
}
h2 {
    font-size: 1rem;
}
ul {
    padding:0;
}
section {
    padding: .5rem 0;
    margin:.5rem 0;
}
/* :::::::::::::::::::::::::::::
         pattern Layout
    ::::::::::::::::::::::::::::*/
.column {
    flex-direction: column;
}
.center {
    align-items: center;
    justify-content: center;
}
.stiky {
    margin-top:auto;
}

/* :::::::::::::::::::::::::::::
         Header Layout
    ::::::::::::::::::::::::::::*/

.primary {
    flex-direction: column;
    align-items: center;
}

.main-nav  ul{
    flex-direction: column;
    align-items: center;
    
}
.main-nav li {
    width: 90%;
    text-align: center;
    font-weight: 700;
    color:#4a4a4a;
    background-color:#fff;
    padding:10px;
    margin:5px;
    font-size: 1.4rem;
}
.main-nav li:first-child{
    background-color: inherit;
    font-size: 2rem;
}

.main-nav a {
    color: #4a4a4a;
    font-size: 1.5rem;
}
.item {
    width: 85%;
    padding:.6rem
}
header .item:nth-child(2){
   color:#707070;
}
.avatar {
    width:60%;
    height: auto;;
}

/* :::::::::::::::::::::::::::::
         Portfolio Section Layout
    ::::::::::::::::::::::::::::*/

figure {
    margin: .75rem 1.5rem;

}

figure img {
    width:100%;
}

/* :::::::::::::::::::::::::::::
         Footer  Layout
    ::::::::::::::::::::::::::::*/
footer {
    padding: 0;;
    padding-top:2rem;
}
footer span{
    font-weight: 500;
}
footer a {
    color: #4a4a4a;
}
/* :::::::::::::::::::::::::::::
         Footer  Nav
    ::::::::::::::::::::::::::::*/
.bottom-nav {
    border-top: 1px solid #a79c9c;
}
.bottom-nav ul {
    justify-content: flex-end;
    
}
.bottom-nav li{
     display: none;
     text-align: right;
     flex:1;
     font-weight: 700;
}
.bottom-nav li:first-child, .bottom-nav li:last-child {
    display:block;
}
 .bottom-nav li:first-child {
    margin-right: auto;
    text-align: left;
} 
footer .item:last-child {
    padding: 0;
}



/* :::::::::::::::::::::::::::::
         Media Queris  
    ::::::::::::::::::::::::::::*/

    @media screen and (min-width:768px){
        
        /* :::::::Header:::::::: */
      .main-nav ul {
          flex-direction:row;
          flex-wrap:wrap;
      }
      .main-nav li {
          flex:1;
          background-color: inherit;
      }
      .main-nav li:first-child {
           flex:1 100%;
      }

      header .container {
          flex-direction: row-reverse;
          justify-content: space-around;

      }
      header .item {
          flex: 1;
      }
      header .item:last-child{
          flex: 2;
      }
       /* :::::::Portfolio Section:::::::: */

       .portfolio .container {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
       }
       .portfolio .container .item {
           flex:1 calc(50% - 3rem);
       }

      /* :::::::Footer Section:::::::: */
         .bottom-nav li {
             display: block;
         }
         .bottom-nav li:last-child {
             display: none;
         }

    }

    @media screen and (min-width: 1024px) {
        /* :::::::Header Section:::::::: */
       .main-nav ul {
        justify-content: flex-end;
       }
       .main-nav li{
           
           margin:0;
           padding:0;
       }
       .main-nav li:first-child {
        flex:1;
        margin-right: auto;
   }
    /* :::::::Portfolio Section:::::::: */
    .portfolio .container .item {
        flex:1 calc(33% - 4.5rem);
    }
    }


